.clients {
  padding-left: 0;

  margin-bottom: 0;
  margin-top: 0;
  margin-left: -30px;
  display: flex;
}

.clients > .client-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

.client-item {
  margin-top: 50px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.one-client {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-logo {
  height: 49px;
  width: 44px;
  fill: #afb1b8;
}

.two-size {
  height: 52px;
  width: 40px;
}

.three-size {
  height: 42px;
  width: 41px;
}

.four-size {
  height: 42px;
  width: 79px;
}

.five-size {
  height: 47px;
  width: 59px;
}

.six-size {
  height: 45px;
  width: 88px;
}

.one-client:hover .client-logo,
.one-client:focus .client-logo {
  fill: var(--color-forces-color);
}

.one-client:hover,
.one-client:focus {
  border-color: var(--color-forces-color);
}
